**
!dist/extension.js
!dist/web/extension.js
!dist/webview/main.js
!dist/webview/main.css
!media/icon.png
!media/dbnext.svg
!media/screenshot.png
!media/screenshot-large.png
!package.json
!README.md
!CHANGELOG.md
!LICENSE
